body {
    font-family: sans-serif;
}
header img {
    width: 150px;
    height: 150px;
}

footer {
    background-color: blueviolet;
    padding: 15px;
}

footer h2 {
    background-color: white;
}

main img {
    width: 600px;
    height: 400px;
}
